<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lalal.modules.mapper.TrainRoutePairMapper">

    <select id="searchTrainsByStationList" resultType="com.lalal.modules.entity.TrainRoutePairDO">
        SELECT
            *
        FROM t_train_route_pair
        WHERE (
        <foreach collection="start" item="s" separator=" OR ">
            <foreach collection="end" item="e" open="(" close=")" separator=" OR ">
                ( departure_station= #{s.name} AND arrival_station = #{e.name})
            </foreach>
        </foreach>
        )
    </select>
    <insert id="batchInsert" parameterType="java.util.List">
        INSERT INTO t_train_route_pair (
        train_id,
        train_number,
        departure_station,
        arrival_station,
        start_time,
        end_time,
        start_region,
        end_region,
        day_diff
        )

        VALUES
        <foreach collection="list" item="item" separator=",">
            (
            #{item.trainId},
            #{item.trainNumber},
            #{item.departureStation},
            #{item.arrivalStation},
            #{item.startTime},
            #{item.endTime},
            #{item.startRegion},
            #{item.endRegion},
            #{item.dayDiff}
            )
        </foreach>
    </insert>

</mapper>